<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Filter1</filter-name>
        <filter-class>filters.Filter1</filter-class>
    </filter>
    <filter>
        <filter-name>Filter2</filter-name>
        <filter-class>filters.Filter2</filter-class>
    </filter>
    <filter>
        <filter-name>Filter3</filter-name>x
        <filter-class>filters.Filter3</filter-class>
    </filter>
    <filter>
        <filter-name>Filter4</filter-name>
        <filter-class>filters.Filter4</filter-class>
    </filter>
    <filter>
        <filter-name>FilterA</filter-name>
        <filter-class>filters.FilterA</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterA</filter-name>
        <servlet-name>Servlet1</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Filter4</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Filter3</filter-name>
        <servlet-name>FindServlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Filter1</filter-name>
        <servlet-name>registerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Filter2</filter-name>
        <servlet-name>registerServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindServlet</servlet-name>
        <servlet-class>controller.FindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>controller.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindServlet</servlet-name>
        <url-pattern>/FindServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
